.breadcrumbs {
  font-size: 16px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  li:not(:last-child) {
    &::after {
      margin-left: 10px;
      content: '/';
    }
  }

  span {
    color: $accent;

    @media print {
      color: $black;
    }
  }

  @media print {
    color: #818181;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 12px;
  }
}
