.router {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 32px 45px;
  background-color: $white;
  box-shadow: 0 20px 60px 0 #0000001a;
  border-radius: 20px;

  @media (max-width: em(1500)) {
    display: grid;
    grid-template-columns: [start] 280px [before] 35px [middle] 280px [after] 1fr [end];
  }

  @media (max-width: em(1366)) {
    grid-template-columns: [start] 220px [before] 35px [middle] 220px [after] 1fr [end];
  }

  @media (max-width: $tablet) {
    padding: 24px 32px;
    grid-template-columns: [start] 1fr [before] 35px [after] 1fr [end];
  }

  @media (max-width: $mobile) {
    position: relative;
    padding: 30px 16px;
    gap: 6px;
    grid-template-columns: [start] 7fr [middle] 3fr [end];
  }
}

.field-box {
  position: relative;
  min-height: 76px;
  border: 1px solid $grey-300;
  border-radius: 8px;

  &--passengers {
    max-width: 220px;
    width: 100%;

    @media (max-width: em(1500)) {
      grid-row: 1 / 2;
      grid-column: after / end;
      max-width: 50%;
    }

    @media (max-width: em(1366)) {
      max-width: 100%;
    }

    @media (max-width: $tablet) {
      grid-row: 3 / 4;
      grid-column: start / after;
    }

    @media (max-width: $mobile) {
      grid-row: 5 / 6;
      grid-column: start / middle;
    }
  }

  &--date-from,
  &--date-back {
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--date-from {
    &::before {
      width: 26px;
      height: 29px;
      background-image: url('@img/icons/icon-calendar.svg');
    }

    @media (max-width: em(1500)) {
      grid-row: 2 / 3;
      grid-column: start / before;
    }

    @media (max-width: $tablet) {
      grid-column: start / after;
    }

    @media (max-width: $mobile) {
      grid-row: 3 / 4;
      grid-column: start / end;
    }
  }

  &--date-back {
    @media (max-width: em(1500)) {
      grid-row: 2 / 3;
      grid-column: before / after;
    }

    @media (max-width: $tablet) {
      grid-column: after / end;
    }

    @media (max-width: $mobile) {
      grid-row: 4 / 5;
      grid-column: start / end;
    }
  }

  &--date-back.filled {
    .router__date-close {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.router__places {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 280px;

  &--right {
    margin-right: -10px;

    &::before {
      right: 0;
      transform: translate(50%, -50%);
    }

    @media (max-width: em(1500)) {
      grid-row: 1 / 2;
      grid-column: start / before;
    }

    @media (max-width: em(1366)) {
      margin-right: 0;
    }

    @media (max-width: $tablet) {
      max-width: 100%;
      grid-column: start / before;
    }

    @media (max-width: $mobile) {
      grid-row: 1 / 2;
      grid-column: start / end;
    }
  }

  &--left {
    margin-left: -10px;

    &::before {
      left: 0;
      transform: translate(-50%, -50%);
    }

    @media (max-width: em(1500)) {
      grid-row: 1 / 2;
      grid-column: middle / after;
      max-width: calc(100% + 10px);
    }

    @media (max-width: $tablet) {
      grid-column: after / end;
    }

    @media (max-width: $mobile) {
      max-width: 100%;
      margin-left: 0;
      grid-row: 2 / 3;
      grid-column: start / end;
    }
  }

  &::before {
    content: '';
    position: absolute;
    height: 32px;
    width: 26px;
    background: #fff;
    border: 1px solid $grey-300;
    border-radius: 50%;
    top: 50%;

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.router__switch {
  z-index: 3;
  width: 35px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  @media (max-width: em(1500)) {
    grid-row: 1 / 2;
    grid-column: before / middle;
    width: 45px;
    margin-left: -10px;
    margin-right: -10px;
  }

  @media (max-width: $tablet) {
    grid-column: before / after;
  }

  @media (max-width: $mobile) {
    position: absolute;
    top: 68px;
    right: 40px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    transform: rotate(90deg);
    box-shadow: 0 4px 15px 0 #00000026;
  }
}

.router__switch-icon {
  width: 80%;
  height: 80%;
}

.transform-label {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%) scale(1);
  pointer-events: none;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.router__date-close {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 24px;
  height: 24px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.router__date-close-icon {
  width: 100%;
  height: 100%;
}

.router__label {
  left: 22px;
  color: #00000080;
  font-size: 20px;
  font-weight: 500;

  @media (max-width: em(1024)) {
    font-size: 18px;
  }
}

.router__field {
  min-height: 76px;
  padding: 35px 22px 15px;
  line-height: 1.1;
  max-width: 280px;
  width: 100%;
  font-size: 22px;
  font-weight: 600;

  @media (max-width: em(1500)) {
    max-width: 100%;
  }

  @media (max-width: em(1024)) {
    font-size: 18px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.router__submit {
  width: 110px;
  min-height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  border-radius: 10px;

  @media (max-width: em(1500)) {
    grid-row: 2 / 3;
    grid-column: after / end;
  }

  @media (max-width: $tablet) {
    grid-row: 3 / 4;
  }

  @media (max-width: $mobile) {
    width: 100%;
    grid-row: 5 / 6;
    grid-column: middle / end;
  }
}

.router__submit-icon {
  width: 20px;
  height: 20px;
  fill: $white;
}

.transform-field {
  border-radius: inherit;
}

.transform-field:focus + label,
.transform-field.filled + label,
.transform-label--filled {
  transform: translate(0, -28px);
  font-size: 12px;
}

.router__counter {
  position: relative;
  width: 100%;
  min-height: 76px;
  padding: 35px 22px 15px;
  line-height: 1.1;
  font-size: 22px;
  font-weight: 600;
  text-align: left;

  &::after {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 19px;
    height: 12px;
    background-image: url('@img/icons/icon-polygon.svg');
    background-repeat: no-repeat;
    content: '';
    transition: transform 0.3s ease;
  }

  &.opened {
    &::after {
      transform: rotate(-180deg) translateY(100%);
    }
  }

  @media (max-width: em(1024)) {
    font-size: 18px;
  }
}

.router__counter-popup {
  position: absolute;
  width: 100%;
  top: calc(100% + 10px);
  z-index: 3;
  padding: 25px 17px 30px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  box-shadow: 0 20px 60px 0 #0000001a;
  border-radius: 12px;
  background-color: $white;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

  &.opened {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.router__counter-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.router__counter-category,
.router__counter-detailed {
  display: block;
}

.router__counter-category {
  font-size: 16px;
  font-weight: 500;
}

.router__counter-detailed {
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.minmax {
  min-width: 78px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.minmax__btn {
  position: relative;
  flex: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background-color: $white;
  }

  &::before {
    width: 9px;
    height: 2px;
  }

  &--dec {
    background-color: $grey-300;
  }

  &--inc {
    background-color: $accent;

    &::after {
      height: 9px;
      width: 2px;
    }
  }
}

.minmax__num {
  max-width: fit-content;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.router__results {
  width: 370px;

  @media (max-width: $mobileSmall) {
    width: 100%;
  }
}
