.tour {
  position: relative;
  display: flex;
  gap: 50px;

  @media (max-width: em(1366)) {
    gap: 30px;
  }

  @media (max-width: em(1024)) {
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: $mobile) {
    gap: 18px;
  }
}

.tour__link {
  &--image {
    max-width: 355px;
    width: 100%;
    height: 225px;

    @media (max-width: em(1024)) {
      max-width: 100%;
      height: 275px;
    }

    @media (max-width: em(525)) {
      height: 175px;
    }
  }
}

.tour__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.tour__content {
  padding-top: 15px;

  @media (max-width: em(1366)) {
    width: 100%;
  }

  @media (max-width: em(1024)) {
    padding-top: 0;
  }
}

.tour__info {
  margin-bottom: 25px;

  @media (max-width: em(1366)) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  @media (max-width: em(1024)) {
    margin-bottom: 12px;
  }
}

.tour__descr {
  color: #6b6b6b;

  @media (max-width: $mobile) {
    font-size: 12px;
  }
}

.tour__title {
  margin-bottom: 7px;
  font-size: 26px;
  font-weight: 600;
  color: $black;
  line-height: 1.2;

  @media (max-width: $tablet) {
    font-size: 24px;
  }

  @media (max-width: $mobile) {
    font-size: 22px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 4px;
    font-size: 20px;
  }
}

.tour__price {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  font-size: 28px;

  strong {
    font-weight: 600;
    line-height: 1.38;
  }

  span {
    @media (max-width: em(1366)) {
      margin-bottom: 7px;
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: 4px;
    }
  }

  @media (max-width: em(1366)) {
    position: static;
    transform: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.16;
    font-size: 24px;
  }

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.tour__duration {
  margin-bottom: 14px;
  display: block;
  font-weight: 500;

  @media (max-width: em(1024)) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile) {
    font-size: 12px;
  }
}

.tour__chars {
  margin-bottom: 20px;

  @media (max-width: $mobile) {
    margin-bottom: 0;
  }
}

.tour__button {
  position: relative;
  display: block;
  max-width: 140px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;

  &::after {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url('@img/icons/icon-arrow-corner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.tour__rating {
  display: flex;
  gap: 3px;

  li.active {
    .tour__rating-icon {
      fill: #ffdc26;
    }
  }

  @media (max-width: $mobileSmall) {
    gap: 2px;
  }
}

.tour__rating-icon {
  width: 19px;
  height: 19px;
  fill: $grey-400;

  @media (max-width: $mobileSmall) {
    width: 14px;
    height: 14px;
  }
}
