.advantages {
  padding-bottom: 50px;
}

.advantages__title {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advantages__item {
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 500;
}

.advantages__icon {
  margin-bottom: 35px;
  max-width: 110px;
  max-height: 115px;
}
