.reviews {
  padding: 95px 0 125px;

  @media (max-width: $tablet) {
    padding: 35px 0 120px;
  }

  @media (max-width: $mobile) {
    padding: 30px 0 65px;
  }

  &--about {
    @media (max-width: $tablet) {
      padding: 35px 0 95px;
    }
  }
}

.reviews__container--narrow {
  margin-bottom: 65px;
  max-width: 1540px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: em(1366)) {
    margin-bottom: 45px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobileSmall) {
    margin-bottom: 15px;
  }
}

.reviews__title {
  line-height: 1.06;

  @media (max-width: em(1366)) {
    font-size: 55px;
  }

  @media (max-width: $tablet) {
    font-size: 40px;
  }

  @media (max-width: $mobileSmall) {
    font-size: 32px;
  }
}

.reviews__navigation {
  display: flex;
  gap: 16px;

  @media (max-width: em(540)) {
    justify-content: center;
  }
}

.reviews__btn {
  width: 65px;
  height: 65px;

  &.swiper-button-disabled,
  &:disabled:active {
    background: transparent;
    border-color: #ebebeb;

    .reviews__link-icon {
      fill: $grey-400;
    }
  }

  @media (max-width: em(540)) {
    width: 53px;
    height: 53px;
  }
}

.reviews__btn--prev {
  transform: rotate(180deg);
}

.reviews__link-icon {
  width: 20px;
  height: 15px;
}

.reviews__slider {
  margin-bottom: 50px;

  @media (max-width: em(1620)) {
    padding: 0 15px;
  }
}

.reviews__slide {
  max-width: 680px;
  width: 100%;

  @media (max-width: em(1366)) {
    max-width: 500px;
  }

  @media (max-width: $tablet) {
    max-width: 400px;
  }

  @media (max-width: $mobileSmall) {
    max-width: 290px;
  }
}

.reviews__button {
  margin: 0 auto;

  @media (max-width: em(540)) {
    margin-bottom: 35px;
  }
}
