.team {
  padding: 80px 0 30px;
}

.team__title {
  font-size: 48px;
  margin-bottom: 35px;
  line-height: 1.2;
  font-weight: 600;

  @media (max-width: $tablet) {
    font-size: 32px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.team__list {
  display: flex;
  gap: 30px;
  text-align: center;

  @media (max-width: em(1366)) {
    margin: 0 auto;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $tablet) {
    max-width: 100%;
  }

  @media (max-width: em(630)) {
    max-width: 70%;
    gap: 60px;
    grid-template-columns: 100%;
  }

  @media (max-width: $mobileSmall) {
    max-width: 100%;
  }
}

.team__item {
  position: relative;

  @media (max-width: em(1366)) {
    width: 100%;
  }
}

.team__link {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  background-color: $white;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &--margarita {
    &:hover {
      width: 190px;
    }
  }

  &--olga {
    &:hover {
      width: 240px;
    }
  }

  &--lilia {
    &:hover {
      width: 195px;
    }
  }

  &--katerina {
    &:hover {
      width: 225px;
    }
  }

  &:hover {
    padding-left: 15px;
    padding-right: 30px;

    .team__icon {
      margin-right: auto;
    }

    .team__mail {
      width: max-content;
    }
  }
}

.team__icon {
  width: 19px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px 15px;
}

.team__mail {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 0;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.team__image {
  margin-bottom: 23px;
  object-fit: cover;
  max-width: 382px;
  width: 100%;
  height: 460px;
  border-radius: 15px;

  @media (max-width: em(1366)) {
    max-width: 100%;
  }

  @media (max-width: $mobileSmall) {
    height: 400px;
  }
}

.team__name {
  margin-bottom: 5px;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.team__status {
  display: block;
  color: #0000008c;
  line-height: 1.56;
  font-size: 16px;

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}
