<div class="visas__filters filters">
	<button class="filters__close" type="button">
		<svg class="filters__close-icon">
			<use xlink:href="@img/sprite.svg#icon-close-black"></use>
		</svg>
	</button>
	<form class="filters__form">
		<ul class="filters__list">
			<li class="filters__item">
				<button class="filters__switcher active" type="button">Тип</button>

				<div class="filters__content active">
					<div class="filters__checkbox checkbox">
						<input id="single-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="single-visa">
						<label for="single-visa" class="checkbox__label">
							<span class="checkbox__text">1-кратная</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="two-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="two-visa">
						<label for="two-visa" class="checkbox__label">
							<span class="checkbox__text">2-кратная</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="many-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="many-visa">
						<label for="many-visa" class="checkbox__label">
							<span class="checkbox__text">Многократные</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="different-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="different-visa">
						<label for="different-visa" class="checkbox__label">
							<span class="checkbox__text">Разные</span>
						</label>
					</div>

				</div>
			</li>

			<li class="filters__item">
				<button class="filters__switcher active" type="button">Длительность</button>

				<div class="filters__content active">
					<div class="filters__checkbox checkbox">
						<input id="8-days" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="8-days">
						<label for="8-days" class="checkbox__label">
							<span class="checkbox__text">8 дней</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="30-days" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="30-days">
						<label for="30-days" class="checkbox__label">
							<span class="checkbox__text">30 дней</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="60-days" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="60-days">
						<label for="60-days" class="checkbox__label">
							<span class="checkbox__text">60 дней</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="90-days" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="90-days">
						<label for="90-days" class="checkbox__label">
							<span class="checkbox__text">90 дней</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="180-days" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="180-days">
						<label for="180-days" class="checkbox__label">
							<span class="checkbox__text">180 дней</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="1-year" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="1-year">
						<label for="1-year" class="checkbox__label">
							<span class="checkbox__text">1 год</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="2-years" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="2-years">
						<label for="2-years" class="checkbox__label">
							<span class="checkbox__text">2 года</span>
						</label>
					</div>

				</div>
			</li>

			<li class="filters__item">
				<button class="filters__switcher" type="button">Вид визы</button>

				<div class="filters__content">
					<div class="filters__checkbox checkbox">
						<input id="business-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="business-visa">
						<label for="business-visa" class="checkbox__label">
							<span class="checkbox__text">Деловая</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="invite-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="invite-visa">
						<label for="invite-visa" class="checkbox__label">
							<span class="checkbox__text">По приглашению</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="work-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="work-visa">
						<label for="work-visa" class="checkbox__label">
							<span class="checkbox__text">Рабочая</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="tourist-visa" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="tourist-visa">
						<label for="tourist-visa" class="checkbox__label">
							<span class="checkbox__text">Туристическая</span>
						</label>
					</div>

				</div>
			</li>

			<li class="filters__item">
				<button class="filters__switcher" type="button">Гражданство</button>

				<div class="filters__content">
					<div class="filters__checkbox checkbox">
						<input id="no-sitizan" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="no-sitizan">
						<label for="no-sitizan" class="checkbox__label">
							<span class="checkbox__text">Негражданам</span>
						</label>
					</div>

					<div class="filters__checkbox checkbox">
						<input id="latvia-sitizan" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
							name="latvia-sitizan">
						<label for="latvia-sitizan" class="checkbox__label">
							<span class="checkbox__text">Гражданам Латвии</span>
						</label>
					</div>
				</div>
			</li>

		</ul>
		<!-- this button will be triggered when user will click on the button at the bottom of this section (below) when filters is open -->
		<div>
			<div class="filters__btn-box">
				<button class="filters__btn button" type="submit" aria-label="Смотреть результаты">
					Смотреть результаты
				</button>
			</div>
		</div>
	</form>
</div>