<article class="review">
	<!-- "review--video" is an available modificator for video items -->

	<div class="review__img-wrapper">
		<img class="review__img" src="@@@imgurl" alt="review place photo">
		<a class="review__video-link" href="#">
			<svg class="review__icon-play">
				<use xlink:href="@img/sprite.svg#icon-play"></use>
			</svg>
		</a>
	</div>

	<div class="review__info">
		<h4 class="review__title">
			@@title
		</h4>
		<div class="review__text">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget posuere arcu, et molestie tortor. Etiam
				pretium eros
				sed efficitur ultrices. Cras vehicula sem libero. Donec tincidunt purus dui, eu dignissim purus dignissim vitae.
				Fusce
				lacinia massa sed ornare tincidunt.
			</p>
		</div>

		<div class="review__author">
			<img class="review__avatar" src="@img/decor/avatar.jpg" alt="user's avatar">

			<div>
				<span class="review__name">Евгения Чуканова</span>
				<span class="review__detail">Путешествует с 1 travel с 2015 года</span>
			</div>

		</div>

		<hr class="review__divider">
	</div>

	<a class="review__link" href="#">
		<span>Перейти на страницу путешествия</span>
		<svg class="review__link-icon">
			<use xlink:href="@img/sprite.svg#icon-arrow-right"></use>
		</svg>
	</a>

</article>