<article class="review">
	<!-- "review--video" is an available modificator for video items -->

	<div class="review__img-wrapper">
		<img class="review__img" src="@@@imgurl" alt="review place photo">
		<a class="review__video-link" href="#">
			<svg class="review__icon-play">
				<use xlink:href="@img/sprite.svg#icon-play"></use>
			</svg>
		</a>
	</div>

	<div class="review__info">
		<h4 class="review__title">
			@@title
		</h4>
		<div class="review__text">
			<p>
				Lorem ipsum dolor sit amet consectetur adipiscing elit. Proin eget posuere arcu, et molestie tortor. Etiam
				pretium eros
				sed efficitur ultrices. Cras vehicula sem libero. Donec tincidunt purus dui, eu dignissim purus dignissim vitae.
				Fusce
				lacinia massa sed ornare tincidunt.
			</p>
			<a class="review__readmore" data-popup="#review" href="#">Читать полностью</a>
		</div>

		<div class="review__author">
			<img class="review__avatar" src="@img/decor/avatar.jpg" alt="user's avatar">

			<div>
				<span class="review__name">Евгения Чуканова</span>
				<span class="review__detail">Путешествует с 1 travel с 2015 года</span>
			</div>

		</div>

		<hr class="review__divider">
	</div>

	<div class="review__details">
		<h4 class="review__title">
			@@title
		</h4>

		<div class="review__author">
			<img class="review__avatar" src="@img/decor/avatar.jpg" alt="user's avatar">
			<div>
				<span class="review__name">Евгения Чуканова</span>
				<span class="review__detail">Путешествует с 1 travel с 2015 года</span>
			</div>
		</div>

		<div class="review__content">
			<p>
				Чудесный Дубай Люблю Дубай, хотя многие ругают, что это пустыня, нет зелени, каменные джунгли, всё дорого!!!
				Кто
				так
				думает, правильно, не приезжайте) а мне нравится) Конечно, летом здесь очень жарко, но везде кондиционеры,
				часто
				в
				отелях бассейны с охлаждённый водой, зато хорошие скидки в классные отели! В Дубае много турагентств с
				русскоговорящими
				гидами, можно объездить все эмираты. Здесь много парков и зелени, а какое чудесное море! Это я про Арабский
				залив (
				Персидский ).
			</p>
			<p>
				Можно сгонять к Индийскому океану в Фуджейру или к Османскому заливу, посмотреть на рыб, плавая
				с
				маской,
				я встречала большую черепаху!!! А кто-то и маленьких акул! Лучшее время для посещения - март, апрель, иногда
				май,
				ноябрь, декабрь. Здесь много интересностей и развлечений на любой кошелек!
			</p>
			<a class="review__video" href="#" style="background-image: url('@img/review.jpg');">
				<img src="@img/icon-play.svg" alt="play">
			</a>
		</div>

	</div>

	<a class="review__link" href="#">
		<span>Перейти на страницу путешествия</span>
		<svg class="review__link-icon">
			<use xlink:href="@img/sprite.svg#icon-arrow-right"></use>
		</svg>
	</a>

</article>