<article class="tour">
	<a class="tour__link tour__link--image" href="#">
		<img class="tour__img" src="@@@imgurl" alt="tour image">
	</a>

	<div class="tour__content">
		<div class="tour__info">
			<div class="tour__descr">
				<a class="tour__link" href="#">
					<h3 class="tour__title">Тур в Колумбию</h3>
				</a>
				<span class="tour__descr">Манящая Колумбия!</span>
			</div>

			<div class="tour__price">
				<span>от</span>
				<strong>1450€</strong>
			</div>
		</div>


		<span class="tour__duration">от 5 дней (30.04 - 31.10)</span>

		<ul class="tour__chars chars chars--detailed">
			<li class="chars__item" aria-label="vip">
				<svg class="chars__icon">
					<use xlink:href="@img/sprite.svg#icon-vip"></use>
				</svg>
				VIP
			</li>
			<li class="chars__item" aria-label="group">
				<svg class="chars__icon">
					<use xlink:href="@img/sprite.svg#icon-group"></use>
				</svg>
				Авиабилет включен
			</li>
			<li class="chars__item" aria-label="by airplane">
				<svg class="chars__icon">
					<use xlink:href="@img/sprite.svg#icon-airplane"></use>
				</svg>
				Групповой тур
			</li>
		</ul>

		<a class="tour__button button" href="#">
			Заказать
		</a>
	</div>
</article>