// Заголовки, общие БЄМ блоки и проче...

.logo {
  display: block;
}

button,
input,
a,
textarea {
  &:focus-visible {
    outline: transparent;
    box-shadow: 0 0 1px 1px $accent;
  }
}

.title {
  font-size: rem(64);
  line-height: 1.07;
  font-weight: 700;

  @media (max-width: $tablet) {
    font-size: rem(50);
  }
}

.subtitle {
  display: block;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.46);

  @media (max-width: $tablet) {
    font-size: 20px;
  }
}
